# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Load document in Node.js'
      'command': 'node-me:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'node-me'
      'submenu': [
        {
          'label': 'Load Document in Node.js'
          'command': 'node-me:toggle'
        }
      ]
    ]
  }
]
